page{
  height: 100vh;
  background-color: #efefef;
}
//swiper outlook
.swiper{
    swiper {
      height: 360rpx;
      background-color: skyblue;
      swiper-item{
        image{
          width: 100%;
          height: 100%;
        }
        
      }
    }
}
text{
  font-size: 25rpx;
}
.nav{
  display: flex;
  justify-content: space-between;
  view{
    navigator{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20rpx 16rpx;
      border-radius: 20rpx;
    }
    image{
      width: 80rpx;
      height: 80rpx;
    }
    text{
      font-size: 25rpx;
      margin-top: 12rpx;
    }
  }
}
.info{
  text{
      font-size: 25rpx;

      font-weight: bold;
   }
}
.scroll-x{
  display: flex;
  justify-content: space-between;
  width: 100%;
  white-space: nowrap;
  background-color: white;
  view{
    margin-right: 10rpx;
    display: inline-block;
    width: 300rpx;
    height: 100%;
  }
  image{
    width: 100%;
    height: 400rpx;
  }
  text{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25rpx;
    margin-top: 2rpx;
  }
}